@import "tailwindcss";

@keyframes skeleton {
  0% {
    background-position: 200% 0;
  }

  100% {
    background-position: -200% 0;
  }
}

@keyframes spinner {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.15;
  }
}

.animate-skeleton {
  animation: skeleton 8s ease-in-out infinite;
}

.animate-spinner {
  animation: spinner 1.2s linear infinite;
}

.max-h-\[min\(520px\,75\%\)\] {
  max-height: min(520px, 75%);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
